<?xml version='1.0' encoding='utf-8'?>
<widget id="dong.mi.hellowcordov" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <!-- <content src="index.html" /> -->
    <content src="http://172.16.17.3:8080" />
    <access origin="*" />
    <access origin="http://*/*" />
    <access origin="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="LoadUrlTimeoutValue" value="70000"/>
        <splash src="res/screen/android/splash.png" density="ldpi" />
        <splash src="res/screen/android/splash.png" density="mdpi" />
        <splash src="res/screen/android/splash.png" density="hdpi" />
        <splash src="res/screen/android/splash.png" density="xhdpi" />
        <splash src="res/screen/android/splash.png" density="xxhdpi" />
        <splash src="res/screen/android/splash.png" density="xxxhdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <splash src="res/screen/ios/splash.png" density="ldpi" />
        <splash src="res/screen/ios/splash.png" density="mdpi" />
        <splash src="res/screen/ios/splash.png" density="hdpi" />
        <splash src="res/screen/ios/splash.png" density="xhdpi" />
        <splash src="res/screen/ios/splash.png" density="xxhdpi" />
        <splash src="res/screen/ios/splash.png" density="xxxhdpi" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
</widget>
